<section class="heroVideo heroVideo__loader" style="height: 100vh;">

    <video preload autoplay loop muted playsinline id="vidMobile"
        class="heroVideo__loader-shimmer"
        style="width: 100vw;position: relative;left: 50%;right: 50%;margin-left: -50vw;margin-right: -50vw; height: 100%;">
        <source id="hvid"
            src="https://cdn.shopify.com/s/files/1/0424/0982/0320/files/Maneti_Compressed.mp4?v=1613406764"
            type="video/mp4">

    </video>
    <video preload autoplay loop muted playsinline id="vidDesktop"
        class="heroVideo__loader-shimmer"
        style="width: 100vw;position: relative;left: 50%;right: 50%;margin-left: -50vw;margin-right: -50vw; height: 100%;">
        <source id="hvid"
            src="https://cdn.shopify.com/s/files/1/0424/0982/0320/files/Maneti_desktop_ff5e42c2-7023-499a-84dd-7350fac9cd45.mp4?v=1613409142"
            type="video/mp4">

    </video>
    <div class="containerButtonHero">
    <h1 class="titelDesktop">Altijd handsfree.</h1>
    <a class="button outline" href="/products/maneti-tiktok-pakket">
        <span>Maneti+ Pakket</span>
        <span class="icon icon-arrow-right"></span>
      </a>
    </div>
    <h2 class="hero-h2 first">#Herbruikbaar</h2>
    <h2 class="hero-h2 second">#Simpel</h2>
    <h2 class="hero-h2 third">#Krachtig</h2>
 
</section>


{% schema %}

{
"name": "Video Hero",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title Button"
}
],
"presets": [
{
"name": "New Hero Video", // Make it avaible for the client to drag and drop the section on the homepage
"category": "Custom section"
}
]
}

{% endschema %}